{% extends "template.html" %}

{% load static %}

{% block title %}
<title>롯데신문고</title>
{% endblock title %}

{% block contents %}
<div class = "m_container">
    <div class = "l_container">
        <div class="contextBox" style="text-align: center; background-color: white;
        width: 500px; height: 300px; border-radius: 20px; margin: 80px;"></div>
    </div>
    <div class = "r_container">
        <div class = "ru_container">
            <div class = "rul_container">
                <br><br><a style  = "color : gray; font-size : 20px; font-weight : bold;">롯데그룹은 고객의 목소리를 듣습니다.</a><br><br>
                <a style = "color : gray; font-size : 18px;">롯데 신문고에 방문해주셔서 감사합니다. <br>
                무엇이든 말씀해주세요 ! </a>
            </div>
            <div class = "rur_container">
                <a href="{% url 'signin' %}">                       
                    <div class = "button">Sign In</div>
                    <br><br>
                <a href="{% url 'signup' %}">
                    <div class = "button">Sing Up</div>
                </a>   
            </div>
        </div>
        <div class = "rd_container">
            <img src = "static/image/롯문고 캐릭터.png" width = "350px" height = "300px">
        </div>
    </div> 
</div>
</div>

<div class = "footer">
    <h1></h1>
</div>

{% endblock contents %}


