{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>롯데신문고</title>
</head>
<style>
    table{
        width: 30px;

    }
    td {

        width: 20px;
        border : 1px;
        color : #5c5c5c9c
    }
</style>
<body>
    
    <div class="panel-body">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <p class="bs-component">
                <table>
                    <tr>
                    <td class ="td" >{{ form.username.label_tag }}</td>
                        <td class ="td">{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td class = "td">{{ form.password.label_tag }}</td>
                        <td class = "td">{{ form.password }}</td>
                    </tr>
                </table>
            </p>
            <p class="bs-component">
                <center>
                    <input class="btn btn-success btn-sm" type="submit" value="로그인" />
                </center>
            </p>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>


</body>

</html>
