<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>롯데신문고</title>
</head>
<body>
    <a href = "{% url 'index' %}">이미지로고자리</a>
    <a href ="{% url 'solution' %}">롯데가해냈어</a>
    <a href ="{% url 'problemList' %}">롯데의숙제들</a>
    <a href ="{% url 'writing' %}">롯데에게말해줘</a>
    <a href='/signup'>회원가입</a>

    {% for i in problem_list_item %}
        <h1> {{i.title}}</h1>
        <p> {{i.body}}</p>
    {% endfor %}
</body>
</html>
