{% extends "template.html" %}
{% load static %}

{% block title %}
<title>롯데신문고</title>
{% endblock title %}

{% block contents %}
<div class="container">

    <div>
        <select id="sort-select" onchange="location = this.value;">
            <option class= "none" value="?sort=none">---</option>
            <option class= "sort-likes" value="?sort=many_like">공감순</option>
            <option class= "sort-date'" value="?sort=early_date">최신순</option>
        </select>
    </div>

    <table class = "table table-hover">
        <thead class = "thead-light">
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
            <th>공감수</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        {% for i in problem_list_item %}
        <tr>
            <td>{{ i.id }}</td>
            <td>
                <a href= "{% url 'problemDetail' i.id %}">{{i.title}}</a>
            </td>
            <td>
                {{ i.like_count }}
            </td>
            <td>{{ i.updated_at }}</td>
            {% endfor %}
        </tr>
    </tbody>
    </table>    

    <div class="row mt-2">
        <div class="col-12">
            <nav>
                <ul class="pagination justify-content-center">
                    {% if problem_list_item.has_previous %}                         
                    <li class="page-item">
                        <a class="page-link" href="?p={{problem_list_item.previous_page_number }}">이전으로</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">이전으로</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="#">{{problem_list_item.number}}/{{problem_list_item.paginator.num_pages}}</a>
                    </li>
                    {% if problem_list_item.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{problem_list_item.next_page_number }}">다음으로</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">다음으로</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

</div>


    <div class = "footer">
        <h1></h1>
    </div>


    {% for unread_messages in unread_messages.all %}
    <p> {{unread_messages}}</p>
    {% endfor %}

{% endblock contents %}