{% extends "template.html" %}

{% load static %}

{% block title %}
<title>롯데신문고</title>
{% endblock title %}

{% block contents %}    

{% if request.user.is_superuser %}
    <a href= "{% url 'solWrite' %}"> 글쓰기 </a>
    {% endif %}

    {% for solution in solution_item.all %}
    <a href= "{% url 'solutionDetail' solution.id %}">
        <h1> {{solution.title}}</h1>
    </a>
    {% endfor %}
    <div class = "footer">
        <a href= "https://github.com/Gobans/Likelion-LotteSinmungo" style="margin: auto 20px; text-decoration: none; color :#707070; font-size: 15px;">About&emsp;</a>
        <a href= "https://github.com/Gobans/Likelion-LotteSinmungo" style="margin: auto 20px; text-decoration: none; color :#707070; font-size: 15px;">Developer&emsp;</a>
        <a href= "https://www.lotteon.com/p/customer/customerCenter/customerMain#" style="margin: auto 20px; text-decoration: none; color :#707070; font-size: 15px;">FamilySite&emsp;</a>

    </div>
    
{% endblock contents %}