{% extends "template.html" %}

{% load static %}

{% block title %}
<title>롯데신문고</title>
{% endblock title %}

{% block contents %}
    {% for solution in solution_item.all %}
    <a href= "{% url 'solutionDetail' solution.id %}">
        <h1> {{solution.title}}</h1>
    </a>
    {% endfor %}
    
    {% if request.user.is_superuser %}
    <form method="POST" action="">
        {% csrf_token %}
        {{sol_form.as_p}}
        <input type="submit" value="확인">
    </form>
    {% endif %}
{% endblock contents %}